@model Kullanici
@{
    ViewData["Title"] = "Kullanıcı Bilgileri";
    // Sayfada model kullanmak istersek en üste model ile başlayan class adını yazmamız gerekir
}

<h1>Kullanıcı Bilgileri</h1>

<table class="table table-striped table-hover">
    <tr>
        <td>Ad</td>
        <td>@Model.Ad</td>
    </tr>
    <tr>
        <td>Soyad</td>
        <td>@Model.Soyad</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Kullanıcı Adı</td>
        <td>@Model.KullaniciAdi</td>
    </tr>
    <tr>
        <td>Şifre</td>
        <td>@Model.Sifre</td>
    </tr>
</table>

<h3>Model kullanarak Controller a Veri Gönderme</h3>

<form asp-action="KullaniciSayfasi">
    <table class="table table-striped table-hover">
        <tr>
            <td>Ad</td>
            <td>@Html.TextBoxFor(model=>model.Ad)</td>
        </tr>
        <tr>
            <td>Soyad</td>
            <td>@Html.TextBoxFor(model=>model.Soyad)</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.TextBoxFor(model=>model.Email)</td>
        </tr>
        <tr>
            <td>Kullanıcı Adı</td>
            <td>
                <input asp-for="KullaniciAdi" />
            </td>
        </tr>
        <tr>
            <td>Şifre</td>
            <td><input asp-for="Sifre" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </td>
        </tr>
    </table>
</form>